node_modules/
backend/backend_env/
backend/credentials.json
backend/aws_credentials.json
*.pyc
zappa_settings.json
backend-dev-template-1735492930.json
backend-dev-template-1735492930.tar.gz
backend/.gitignore
